<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681684636042-n3rmu1es6vb8r2ba2rumdjb4mrtdn99o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681684636042-n3rmu1es6vb8r2ba2rumdjb4mrtdn99o</string>
	<key>API_KEY</key>
	<string>AIzaSyDTJPUyFp-UBSp95fY5P7nDVE50AFuzHV4</string>
	<key>GCM_SENDER_ID</key>
	<string>681684636042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mdusa.deChatProject</string>
	<key>PROJECT_ID</key>
	<string>dechatproject-873a1</string>
	<key>STORAGE_BUCKET</key>
	<string>dechatproject-873a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681684636042:ios:8a0958996633be5d943873</string>
</dict>
</plist>